#About{
    text-align: center;
    align-items: center;
}

.AboutText{
    text-align: left;
    padding: 15px 10px;
}

.AboutBox{
    box-shadow: 5px 5px 5px 5px rgba(200,200,200,0.8);
    width: 93%;
    margin: 0px 0px 0px 30px;
}

#bubble{
    box-shadow: 5px 5px 5px 5px rgba(200,200,200,0.8);
    width: 90%;
    margin: 0px 30px;
}